@import "tailwindcss";

@theme {
  /* Configuração das cores frias do MasteryMind no Tailwind v4 */
  --color-brandBg: #ebf8fa;
  --color-brandCard: #ffffff;
  --color-brandPrimary: #319795;
  --color-brandAccent: #00b5d8;
  --color-brandText: #2d3748;
}